.header{
  background: var(--gray-700);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4.5rem 0 5rem 0;
}

.header img{
  padding: 12px;
  font-size: 2,5rem;
}

.title{
  font-weight: bold;
  font-size: 2.5rem;
}
.title span:first-child{
  color: var(--blue);
}

.title span:last-child{
  color: var(--purple-dark);
}