.taskForm{
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: -1.687rem
}

.taskForm input{
  padding: 1rem;
  border: 0;
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  width: 100%;
  max-width: 39.875rem;
}

.taskForm button{
  border: 0;
  padding: 1rem;
  background: var(--blue-dark);
  font-size: var(--small-text);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: background-color 0.2s;
}

.taskForm button:hover{
  background: var(--blue);
}

.taskForm button:disabled{
  cursor: not-allowed;
  opacity: 0.7;
}

.taskForm button[type=submit]:not(:disabled):hover {
  background: var(--blue);
}